.carousel__dot {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c9c9d8;
  cursor: pointer;
  opacity: .15;
  &:hover {
    opacity: .5;
  }
  &--active {
    &,
    &:hover {
      opacity: .75;
    }
  }
}