.report__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 25vh;
  border-radius: 25%;
  width: 100px;
  height: 100px;
  background-size: cover;
  animation: fadein 2s ease-in alternate infinite;
  background-image: url('/clearscore.png');
}

@keyframes fadein {
  from { opacity: 0.2; }
  to { opacity: 0.8; }
}
