.report__carousel{
  display: flex;
  align-content: center;
  margin-top: 20vh;
  margin-bottom: 25vh;
  border: solid rgba(255, 255, 255, 0.932) 2px;

  border-radius: 50%;
  background: rgba(228, 223, 223, 0.671);
  height: 400px;
  width: 400px;
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    height: 250px;
    width: 250px;
  }
} 
