.report__creditScore {
  .report__score { 
    color: #76e8a9;
    font-size: 50px;
    line-height: 0;

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      font-size: 30px;
    }
  }
  
  .report__description {
    color: #76e8a9;
  }
}